.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0;
    border: 1px solid black;
    width: 400px;
    height: 400px;
}

.square {
    box-sizing: border-box;
}

.player-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
