.gameboard {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 0;
    border: 1px solid black;
    width: 540px;
}

.square {
    height: 50px;
    width: 50px;
}
